<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or "Personal Website 💾" }}</title>
    <link rel="stylesheet" href="{{ '/css/tiny-brutalism.css' | url }}"> 
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <div class="main box">
        
            <div class="sidebar">
                <div class="icon"> <img src="{{ '/resources/tempicon.jpg' | url }}" alt="Icon Image" width="100%" height="100%"> </div>
                <div class="navbar">
                    <h2 class="navbar-title">{{ subpage or "navbar"}}</h2>
                    <ul class="navbar-list">
                        <li><a href="{{ '/' | url }}">home</a></li>
                        <li><a href="{{ '/about/' | url }}">about</a></li>
                        <li><a href="{{ '/projects/' | url }}">projects</a></li>
                        <li><a href="{{ '/contact/' | url }}">contact</a></li>
                        <li><a href="{{ '/guides/' | url }}">guides</a></li>
                        <li><a href="{{ '/gear/' | url }}">gear</a></li>
                        <li><a href="{{ '/meta/' | url }}">meta</a></li>
                    </ul>

                </div>
            </div>

            <div class="content">
                {{ content | safe }}
            </div>

    </div>
    <footer>
        <!-- Your footer content -->
    </footer>
  </body>
</html>
